@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black text-white/70 relative;
}
body::before{
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    z-index: -1;
    background: radial-gradient(75.61% 75.61% at 50% 24.39%, rgba(180, 83, 9, 0.4) 0%, rgba(180, 83, 9, 0) 100%);
};
@layer base {
    .container{
        @apply max-w-5xl mx-auto px-5;
    };
    .btn-yellow{
        @apply bg-gradient-to-r from-yellow-400 to-yellow-600 px-4 py-2 rounded-full text-white/80;
    };
    input[type="text"], input[type="email"], input[type="password"] {
        @apply w-full py-1 px-2 bg-transparent border-2 border-white/30 rounded-lg;
    };
    form label {
        @apply my-1 text-white/70 text-sm block;
    }
};

